* {
    box-sizing: border-box;
}

.background__container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    display: flex;
    align-items: flex-end;

    &.linie {
        z-index: -2;
    }

    img {
        bottom: 0;
        width: 100%;
    }
}

.page__container {
    width: 100vw;
    height: 100vh;

    .header__container {
        width: 100%;
        height: 30%;
        background-color: white;
        padding: 1vw;
        display: grid;
        grid-template-rows: 1fr 1fr;

        h1 {
            color: #777777;
            font-weight: 700;
            font-size: calc(25px + 1vw);
            text-align: center;
            justify-self: center;
            align-self: center;
        }

        .icons__container {
            width: 100%;
            height: 40%;
            display: grid;
            grid-template-columns: 1.3fr 1fr 1fr;

            img {
                width: 90%;
                align-self: center;
                justify-self: start;

                &:nth-of-type(2) {
                    justify-self: center;
                }

                &:nth-of-type(3) {
                    justify-self: end;
                }
            }
        }
    }

    .grades__container {
        width: 100%;
        height: 70%;
        display: grid;
        grid-template-columns: 1fr 1fr;

        img {
            width: 60%;
            justify-self: center;
            align-self: center;
            cursor: pointer;
        }
    }
}

.notes {
    position: absolute;
    left: 2%;
    bottom: 2%;
    z-index: 999;
    font-size: calc(9px + .2vw);
    font-weight: 200;
}